form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  button {
    background-color: #627363;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #526151;
  }